{% if site.data.presentations %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa fa-file-text"></i>Presentations</h2>

  {% if site.data.presentations.intro %}
  <div class="intro">
      <p>{{ site.data.presentations.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for publication in site.data.presentations.presentations %}
    <div class="item">
      <div class="publication-title">{{ publication.title }}</div>
      <div class="publication-authors">{{ publication.authors }}</div>
      <div class="publication-conference">{{ publication.conference }}</div>
      <div class="publication-conference">{{ 3}}</div>
    </div><!--//item-->
  {% endfor %}
  
  
  <div class="publication-title">{{ Deriving Area­storage Curves of Global Reservoirs }}</div>
  <div class="publication-authors">{{ Mengfei Mu, Qiuhong Tang, Huijuan Cui }}</div>
  <div class="publication-conference">{{ Dec 2017, AGU Fall Meeting, New Orleans, United States }}</div>



</section><!--//section-->
{% endif %}
