{% if site.data.presentations %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa fa-file-text"></i>Presentations</h2>

  {% if site.data.presentations.intro %}
  <div class="intro">
      <p>{{ site.data.presentations.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for publication in site.data.presentations.presentations %}
    <div class="item">
      <div class="publication-title">{{ publication.title }}</div>
      <div class="publication-authors">{{ publication.authors }}</div>
      <div class="publication-conference">{{ publication.conference }}</div>
      <div class="publication-conference">{{ 1111 }}</div>
    </div><!--//item-->
  {% endfor %}
  <div class="item">
  	<div class="publication-conference">{{ "Jan 2017, Oral, 9th IPWE-ASCE, Wuhan, China" }}</div>



</section><!--//section-->
{% endif %}
